<% if signed_in? %>

<table class="front" summary="For signed-in users">
<tr>
  <td class="main">
    <h1 class="micropost">What's up?</h1>
    <%= render 'shared/micropost_form' %>
    <%= render 'shared/feed' %>
  </td>
  <td class="sidebar round">
    <%= render 'shared/user_info' %>
  </td>
</tr>
</table>

<% else %>

<h1>Sample App</h1>
<p>
  Get help on the Ruby on Rails Tutorial at the
  <a href="http://railstutorial.org/help">Rails Tutorial help page</a>.
  To get help on this sample app, see the
  <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>

<%= link_to "Sign up now", signup_path, :class => "signup_button round" %>

<% end %>